<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描包 -->
    <context:component-scan base-package="com.czj.student.controller"/>
    <context:component-scan base-package="com.czj.student.service"/>
    <context:component-scan base-package="com.czj.student.config"/>
    <context:component-scan base-package="com.czj.student.aspect"/>
    <context:component-scan base-package="com.czj.student.common"/>
    <context:component-scan base-package="com.czj.student.session"/>
    <!-- 添加分页功能相关包的扫描 -->
    <context:component-scan base-package="com.czj.student.annotation"/>
    <context:component-scan base-package="com.czj.student.util"/>
    <context:component-scan base-package="com.czj.student.model"/>
    <context:component-scan base-package="com.czj.student.snopool"/>
    <!-- 启用注解 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 登录拦截器配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 静态资源放行 -->
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/favicon.ico"/>
            <!-- 登录相关放行 -->
            <mvc:exclude-mapping path="/login.html"/>
            <mvc:exclude-mapping path="/api/auth/login"/>
            <mvc:exclude-mapping path="/api/auth/logout"/>
            <bean class="com.czj.student.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 静态资源映射 -->
    <mvc:resources mapping="/**" location="/"/>
    <mvc:default-servlet-handler/>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 导入其他配置 -->
    <context:property-placeholder location="classpath:application.properties"/>
</beans> 